name: Compilar e Enviar para ECR
on:
    push:
        branches:
            - main
    workflow_dispatch:
jobs:
    build-and-push:
        runs-on: ubuntu-latest
        env:
            ECR_REPO_NAME: 'fiap-webapi'
            IMAGE_TAG: 'latest'
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up .NET
              uses: actions/setup-dotnet@v4
              with:
                dotnet-version: '8.0.x'

            - name: Restore dependencies
              run: dotnet restore

            - name: Build
              run: dotnet build --configuration Release --no-restore

            - name: Test
              run: dotnet test --no-build --configuration Release --verbosity normal --logger "trx;LogFileName=test-results.trx" --logger "html;LogFileName=test-results.html" --collect:"XPlat Code Coverage" --results-directory ./TestResults

            - name: Upload test results
              uses: actions/upload-artifact@v4
              if: always()
              with:
                name: test-results
                path: |
                  TestResults/**/*.trx
                  TestResults/**/*.html
                if-no-files-found: warn

            - name: Upload coverage reports
              uses: actions/upload-artifact@v4
              if: always()
              with:
                name: coverage-reports
                path: TestResults/**/coverage.cobertura.xml
                if-no-files-found: warn

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                aws-access-key-id: ${{ vars.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
                aws-region: ${{ vars.AWS_REGION }}
            - name: Log in to Amazon ECR
              uses: aws-actions/amazon-ecr-login@v2

            - name: Create ECR repository if not exists
              run: |
                aws ecr describe-repositories --repository-names ${{ env.ECR_REPO_NAME }} || \
                aws ecr create-repository --repository-name ${{ env.ECR_REPO_NAME }}
            - name: Build and push Docker image to ECR
              uses: docker/build-push-action@v5
              with:
                context: ./
                file: ./Dockerfile
                push: true
                tags: ${{ vars.AWS_ACCOUNT_ID }}.dkr.ecr.${{ vars.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPO_NAME }}:${{ env.IMAGE_TAG }}
